In [ ]:
"""
Taylor Richardson
November 01, 2018.

In this analysis I try to determine if I can determine remission of a cancerous cell using a neural network.


In the end it turned out to be ineffective with a very low accuracy rating, likely based on our very small dataset of only 26 variables.

"""

In [2]:
#Load Libraries
import pandas as pd

In [3]:
#Load dataset into pandas
leudata = pd.read_csv("./leuanalysis.csv")

In [5]:
#Describe the data
leudata.describe()

,CELL,SMEAR,INFIL,LI,BLAST,TEMP,REMISS
count,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,0.881481,0.635185,0.570741,1.003704,0.688519,0.997407,0.333333
std,0.186645,0.214052,0.237567,0.467795,0.534960,0.014830,0.480384
min,0.200000,0.320000,0.080000,0.400000,0.000000,0.980000,0.000000
25%,0.825000,0.430000,0.335000,0.650000,0.230000,0.990000,0.000000
50%,0.950000,0.650000,0.630000,0.900000,0.520000,0.990000,0.000000
75%,1.000000,0.835000,0.740000,1.250000,1.060000,1.005000,1.000000
max,1.000000,0.970000,0.920000,1.900000,2.060000,1.040000,1.000000

In [6]:
#Look at the top 5 data entries to understand it better
leudata.head(5)

   CELL  SMEAR  INFIL   LI  BLAST  TEMP  REMISS
0   0.8   0.83   0.66  1.9   1.10  1.00       1
1   0.9   0.36   0.32  1.4   0.74  0.99       1
2   0.8   0.88   0.70  0.8   0.18  0.98       0
3   1.0   0.87   0.87  0.7   1.05  0.99       0
4   0.9   0.75   0.68  1.3   0.52  0.98       1

In [158]:
#Assign the data into the X and Y variables
X = leudata.iloc[:, 0:6]
y = leudata.iloc[:, 6]

In [159]:
#Display y to confirm its correct structure
y

0     1
1     1
2     0
3     0
4     1
5     0
6     1
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    1
16    0
17    0
18    0
19    1
20    0
21    0
22    1
23    0
24    1
25    1
26    0
Name: REMISS, dtype: int64

In [160]:
#Split the data into test and train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.8, random_state = 100)

In [161]:
#Scale the data to set the mean to 0, and the standard deviation to 1. 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [162]:
#Train the neural network using a multi-layer perceptron classifier, with 3 hidden layers with the sizes of 12, 6, and 1. 
#With a max iteration of 5000 cycles.
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes = (12, 6, 1), max_iter = 5000)
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(12, 6, 1), learning_rate='constant',
       learning_rate_init=0.001, max_iter=5000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [163]:
#Predict the x values that were seperated out of the training data before.
predictions = mlp.predict(X_test)

In [164]:
#Evaluate the algorithum on the testing data
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

[[ 0 15]
 [ 0  7]]
             precision    recall  f1-score   support

          0       0.00      0.00      0.00        15
          1       0.32      1.00      0.48         7

avg / total       0.10      0.32      0.15        22

C:\Users\TRich\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)